#contato {
  background: #040506 url('/img/contato/gotas-contato.png') no-repeat 10% 5%;
  color: #fff;
  font-family: inherit;
  min-height: 1065px;

  a {
    color: #fff;
  }

  .containerCont {
    margin-top: 6em;

    @media (min-width: 768px) and (max-witdh: 1024px) {
      max-width: 72%;
    }

    .inicioc {
      h2 {
        font-size: 4.2rem;
        font-weight: 500;
        margin-left: -5rem;
        width: fit-content;
        margin-bottom: 2rem;
        margin-top: 4rem;

        @media (max-width: 768px) {
          margin-left: 0;
          line-height: inherit;
        }
      }

      p {
        font-weight: 500;
        margin-left: -12rem;
        line-height: 15px;
        font-size: 1.6rem;

        @media (max-width: 768px) {
          margin-left: 0;
          line-height: inherit;
        }
      }
    }

    .pessoas {
      .fa-icon-container {
        min-width: 35px;
        min-height: 20px;
        padding: 0;
        display: flex;
        align-items: center;
        margin: 0 2px;

        img {
          filter: invert(100%);
          max-height: 20px;
          max-width: 20px;
          margin-right: 5px;
        }
      }

      .wrapper-social-midias {
        display: flex;
        align-items: center;
        text-align: right;
        float: right;

        span {
          font-weight: bold;
        }

        .social-icon-container,
        .fa-icon-container {
          height: 35px;
          width: 20px;
          padding: 0;
          margin: 0 2px;

          img {
            filter: invert(100%);
            max-height: 20px;
            max-width: 20px
          }
        }
      }


      .infcontatos {
        font-size: 2rem;
        max-width: 500px;
        margin: auto;
        margin-right: 5rem;
        margin-top: 13rem;

        @media (max-width: 768px) {
          margin-right: inherit;
          margin-top: 2rem;
        }

        .bloco-contato {
          width: 100%;

          a, p {
            width: 100%;

            &.nome {
              font-weight: 600;
              font-size: 2.3rem;
              margin: 0;
              color: #f4ed2f;

              @media (max-width: 768px) {
                line-height: 30px;
              }
            }
          }

          &.text-right {
            a {
              justify-content: flex-end;
            }
          }
        }
      }
    }

    .formemail {
      max-width: 500px;
    }

    .premail {
      @media (max-width: 768px) {
        margin-top: 5rem;
      }

      p {
        font-weight: bold;
        text-align: right;
        font-size: 1.8rem;
        margin: 0 0 2rem;
      }

    }

    .caixa-email {
      background-color: #fff;
      color: #040506;
      padding: 16px;
      border-radius: 4px;

      input {
        margin-top: -5px;
        height: 28px;
        border: 1px solid;
      }

      textarea {
        margin-top: -5px;
        border: 1px solid;
      }
    }
  }
}

.texto-inline {
  display: inline-block;
}

#borda-bot {
  background-image: url('/img/contato/forma-do-contato.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -2px;
  height: 50px;
}

@media (max-width: 768px) {
  #contato {
    background-size: 100%;
  }

  .containerCont {
    margin-bottom: 13em;

    .inicioc {
      p {
        text-align: center;
      }
    }

    .pessoas {
      padding: 1em;

      p {
        line-height: 5px;
        margin: 0 0 5px;
      }
    }
    .formemail {
      padding: 0em;
    }
  }

}

@media (min-width: 768px) and (max-width: 1023px) {
  #contato {
    background-size: 80%;
  }

  .containerCont {
    margin-bottom: 13em;
    max-width: 72%;

    .inicioc {
      p {
        text-align: center;
      }
    }

    .pessoas {
      padding: 1em;

      p {
        line-height: 5px;
        margin: 0 0 5px;
      }
    }

    .formemail {
      padding: 4em;
    }
  }
}

@media (min-width: 1024px) {
  #contato {
    background-size: 67%;
  }

  .containerCont {
    margin-bottom: 3em;

    .inicioc {
      h2 {
        border-bottom: 1px solid currentColor;
      }

      p {
        margin-left: -50px;
        text-align: left;
      }
    }

    .pessoas {
      .infcontatos {
        float: right;
      }
    }

    .formemail {
      padding: 5em;
      margin-left: -50px;
      margin-top: -50px;
    }
  }
}
