.quem-somos {
  background-color: #fff;

  h1,
  h2,
  h3,
  h4 {
    text-align: center;
    text-transform: uppercase;
    line-height: 1.3;
  }

  h1 {
    margin-bottom: 40px;
    margin-top: 0;
  }

  h2 {
    margin-bottom: 50px;
    line-height: 1.3;
  }

  h3 {
    line-height: 1.6;
  }

  p {
    color: #121212;
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 20px;
  }

  hr {
    border-top: 1px solid rgba(0,0,0,0.25);
    margin: 40px auto;
    width: 75%;
  }

  > section > .container {
    position: relative;
    z-index: 1;
  }
}

.quem-somos-header {
  background: transparent url('/img/quem-somos/img-equipe.jpg') no-repeat top center;
  background-size: cover;
  width: 100%;
  margin-top: 70px;
  height: 100vh;

  @media (min-width: 1200px) {
    height: 125vh;
  }
}

.quem-somos-info {
  background-color: #a5dbf5;
  background-image: linear-gradient(to right, #a5dbf5 0%, #81cbe7 50%, #52bad7 100%);
  border-top: 20px solid #fff;
  padding: 100px 0 150px;
  position: relative;

  &::before {
    $image-width: 383px;

    content: '';
    background-color: transparent;
    background-image: url('/img/quem-somos/curvas-secao-info.png');
    background-repeat: no-repeat;
    background-position: calc(50% - #{$image-width} / 2) 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &::after {
    content: '';
    background: transparent url('/img/quem-somos/gotas-secao-info.png') no-repeat top right;
    position: absolute;
    top: 20px;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .container {
    width: 700px;
  }

  p:first-of-type {
    font-weight: 400;
  }

  b {
    font-weight: 500;
  }
}

.quem-somos-membros {
  padding: 50px 0;
  position: relative;
  text-align: center;

  &::before {
    content: '';
    background-color: transparent;
    background-image: url('/img/quem-somos/curvas-secao-membros.png');
    background-repeat: no-repeat;
    background-position: left 50% top 0;
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .container {
    width: 700px;
    display: flex;
  }

  .column {
    flex: 1 0 0;
    margin: 0 50px;
  }

  .social-links {
    text-align: center;

    [class^='icon'] {
      display: inline-block;
      margin: 0 10px;
      opacity: 1;
      transition: opacity ease 0.25s;
      zoom: 0.5;
    }

    > a {
      &:hover [class^='icon'] {
        opacity: 0.85;
      }
    }
  }

  h3 {
    font-weight: 400;
  }

  img {
    width: 120px;
    height: 120px;
  }

  p {
    color: #666;
    text-align: center;
    font-size: 14px;
  }
}

.quem-somos-tarefas {
  background-color: #c9d3d9;
  background-image: linear-gradient(to right, #c9d3d9 0%, #fdfdfe 50%, #c9d3d9 100%);
  padding: 85px 0 150px;
  position: relative;

  &::before {
    content: '';
    background: transparent url('/img/quem-somos/gotas-secao-tarefas.png') no-repeat top left;
    background-size: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &::after {
    content: '';
    background: transparent url('/img/quem-somos/curvas-secao-tarefas.png') no-repeat left 55% top 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  h1 {
    margin-bottom: 75px;
  }

  .container {
    width: 90vw;
  }

  .tarefas {
    display: flex;
    justify-content: space-between;

    .item {
      $border: 3px;
      $size: 106px;

      display: flex;
      align-items: baseline;
      flex-direction: column;
      justify-content: center;

      border: $border solid #93d2ed;
      border-radius: 50%;
      text-align: center;
      transition: border ease 0.2s;
      transition-delay: 0.25s;
      width: $size;
      height: $size;

      &:hover {
        border-color: transparent;
        transition-delay: 0s;

        .text {
          margin-top: 10px;
          max-height: 100%;
          opacity: 1;
          transition-delay: 0s, 0s, 0s;
          transition-duration: 0s, 0.4s, 0.2s;
          transition-property: margin-top, max-height, opacity;
          transition-timing-function: linear;
        }
      }
    }

    .title {
      font-size: 14px;
      font-weight: 300;
      line-height: 1.4;
      margin: 0 auto;
      text-transform: uppercase;
    }

    .text {
      font-size: 11px;
      margin-top: 0;
      margin-bottom: 0;
      max-height: 0;
      opacity: 0;
      text-align: center;
      transition-delay: 0s, 0s, 0.2s;
      transition-duration: 0.4s, 0.4s, 0.2s;
      transition-property: max-height, opacity, margin-top;
      transition-timing-function: ease;
    }
  }
}

.quem-somos-parcerias {
  background-color: #000;
  height: 600px;
  position: relative;

  &::before {
    content: '';
    background: transparent url('/img/quem-somos/curvas-secao-parcerias.png') no-repeat left 35% top 0;
    position: absolute;
    top: -75px;
    left: 0;
    width: 100%;
    height: 100%;
  }

  > div {
    position: relative;
    z-index: 1;
  }

  .logo-container {
    display: flex;
    justify-content: space-between;

    img {
      align-self: center;
    }
  }

  h2 {
    color: #72c5e1;
    font-size: 36px;
    font-weight: 600;
    text-align: right;
    text-transform: initial;
  }
}
