.container-area-upload {
  margin: auto;
  width: 80%;
}

.container-area-upload .dropzone {
  cursor: pointer;
  background: #cdcdcd;
  min-height: 150px;
  border: 5px dashed rgba(255, 129, 0, 0.69);
  text-align: center;
}

.container-area-upload .dropzone .dz-image {
  margin: auto;
}

.container-area-upload .dropzone .dz-preview.dz-image-preview {
  background: none;
}

.container-area-upload .dropzone .dz-error .dz-progress,
.container-area-upload .dropzone .dz-error .dz-size,
.container-area-upload .dropzone .dz-error .dz-details,
.container-area-upload .dropzone .dz-error .dz-filename {
  display: none;
}

.container-area-upload .dropzone.dz-started h2,
.container-area-upload .dropzone.dz-started i {
  display: none;
}

.container-area-upload .dropzone.dz-drag-hover {
  background: rgba(205, 205, 205, 0.6);
}

.container-area-upload .dropzone:hover {
  background: rgba(205, 205, 205, 0.6);
}

.container-area-upload .dz-error-mark {
  display: none;
}

.container-area-upload .dz-success-mark {
  display: none;
}

