.play-animacao-borda {
  animation-name: desce_borda;
  animation-duration: 1.5s;
}

.play-animacao-logo {
  animation-name: fade_in_logo;
  animation-duration: 1.5s;
}

@keyframes fade_in_logo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes desce_borda {
  from {
    margin-top: -100px;
  }
  to {
    display: block;
    margin-top: 9px;
  }
}
