
.play-animacao-borda {
    -webkit-animation-name: desce_borda; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
    animation-name: desce_borda;
    animation-duration: 0.8s;
}

.play-animacao-logo {
    -webkit-animation-name: fade_in_logo; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
    animation-name: fade_in_logo;
    animation-duration: 1.5s;
}

@keyframes fade_in_logo {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes desce_borda {
    from {
        margin-top: -100px;
    }
    to {
        display:block;
        margin-top: -14px;
    }
}
