/*npm install
npm run dev 
nom run watch    (nao precisa ficar dando comando de run dev toda hora)*/

#contato {

    background-color: #040506;
    color: #FFFFFF;
    background-image: url('/gotas_contato.png');
	background-position: center top;
	background-repeat: no-repeat;
	/*background-size: 45vw auto;*/
    font-family: inherit;
    min-height: 100vh;
    font-size: 18px;

    div.containerCont{
   	 	margin-top: 6em;
    	
    		
		.inicioc{
			h2{
				text-align: center;	
				font-weight: bold;
				/*border-bottom: 1px solid currentColor;
				max-width: 180px;*/
				margin: center;
			}		
		}


		.pessoas{
			
			.infcontatos{
				max-width: 300px;
			    margin: auto;

	 			a{
	 				color: White;
	 			}
	 			
				p{
					font-weight: bold;
					color: Yellow;
				}

				.text-right{
					p{ 
						text-align: right;
					}
				}
				
				.text-left{
					p{ 
						text-align: left;
					}
				}
			}


 		}
		
		.formemail{
				
			/*margin-left: -50px;*/
			/*margin-top: 50px;
			/*padding: 7em;*/
		}

		.premail{
			
			p{
				font-weight: bold;
			}

		}
		   
		.caixa-email{
			background-color: #FFFFFF;
			color: #040506;
			padding: 16px;
			border-radius: 4px;
		}
	}
}



.texto-inline{
	    display: inline-block;
}

#borda-bot{
	background-image: url('/Forma-do-contato-15.png');
	background-size: contain;
	background-repeat: no-repeat;
    margin-top: -2px;
    height: 50px;
}

@media (max-width: 767px){
	#contato{
		background-size: 45vw auto;
	}

	.containerCont{
		margin-bottom: 13em;
		
		.inicioc{
			p{
				text-align: center;
			}
		}

		.pessoas{
			padding: 1em;

			p{
				line-height: 5px;
				margin:0 0 5px;
			}
		}
		.formemail{
			padding: 0em;
		}
	}

}

@media (min-width: 768px) and (max-width: 1023px){
	#contato{
		background-size: 45vw auto;
	}


	.containerCont{
		margin-bottom: 13em;
		
		.inicioc{
			p{
				text-align: center;
			}
		}
		.pessoas{
			padding: 1em;

			p{
				line-height: 5px;
				margin:0 0 5px;
			}
		}
		.formemail{
			padding: 4em;
		}
	}
}



@media (min-width: 1024px){
	#contato{
		background-size: 45vw auto;
	}

	div.containerCont{
		margin-bottom: 3em;

		.inicioc{
			h2{
				border-bottom: 1px solid currentColor;
				max-width: 180px;	
			}

			p{
				margin-left: -50px;
				text-align: left;
			}
		}
		.pessoas{


			.infcontatos{
				padding: 15em 0em;
				float: right;
			}
		}

		.formemail{
			padding: 5em;
			margin-left: -50px;
			margin-top: -50px;
		}
	}
}