nav#menu-principal {
  div.esconde-borda {
    position: fixed;
    top: 0px;
    height: 68px;
    background: white;
    width: 260px;
  }

  // escondendo logo inicialmente
  img.logo-menu-principal {
    &.escondida {
      opacity: 0;
      display: none;
    }

    display: block;
    position: fixed;
    top: 0;
  }

  img.borda-menu-principal {
    &.escondida {
      margin-top:-100px;
    }

    margin-top: 9px;
    display: block;
    position: fixed;
    top: 0;
  }

  div.navbar-collapse {
    border-color: transparent;
  }

  border-color: #939598;
  box-shadow: #939598 0 0 0 1px;
  padding: 9px 0px;

  li ~ li {
    margin-left: 3rem;
  }

  .wrapper-social-media-menu {
    display: flex;
    margin-left: 5rem;
  }
}

// Cores de destaque diferentes para cada página
.navbar-default .navbar-nav > li {
  > a {
    color: #030305;
  }

  > a[href="/contato"] {
    &:hover,
    &.active {
      color: #e7b401;
    }
  }

  > a[href="/quem-somos"] {
    &:hover,
    &.active {
      color: #a7231e;
    }
  }

  > a[href="/portfolio"] {
    &:hover,
    &.active {
      color: #52bad7;
    }
  }
}
