#menu-principal {
  border-color: #939598;
  box-shadow: #939598 0 0 0 1px;
  padding: 9px 0;

  .esconde-borda {
    position: fixed;
    top: 0px;
    height: 68px;
    background: #fff;
    width: 260px;
  }

  // escondendo logo inicialmente
  .logo-menu-principal {
    display: block;
    position: fixed;
    top: 0;

    &.escondida {
      display: none;
      opacity: 0;
    }
  }

  .borda-menu-principal {
    display: block;
    margin-top: 9px;
    position: fixed;
    top: 0;

    &.escondida {
      margin-top: -100px;
    }
  }

  .navbar-collapse {
    border-color: transparent;
  }

  .wrapper-social-media-menu {
    display: flex;
    margin-left: 5rem;
  }

  li ~ li {
    margin-left: 3rem;
  }
}

// Cores de destaque diferentes para cada página
.navbar-default .navbar-nav > li {
  > a {
    color: #030305;
    transition: color ease .25s;
  }

  > a[href="/contato"] {
    &:hover,
    &.active {
      color: #e7b401;
    }
  }

  > a[href="/quem-somos"] {
    &:hover,
    &.active {
      color: #a7231e;
    }
  }

  > a[href="/portfolio"] {
    &:hover,
    &.active {
      color: #52bad7;
    }
  }
}
