
#secao-motion {
    
    .borda-top > img {
        margin-top: -7px;
    }
    
    .texto-vertical {
        transform: rotate(270deg);
        margin-left: 2.8em;
        margin-top: 3em;
    }

}
