
#secao-motion {
    background-color: #970f21;
    color: white;
    background-image: url('/bg_secao_motion.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 35%;


    > h3 {
        text-align: right;
        width: 30%;
        margin: auto;
        font-weight: 800;
        font-size: 3.2em;
    }

    div.borda-top {
        background-image: url('/borda-motion-top.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 160px;
        margin-top: -20px;
    }

    div#container-youtube-motion {
        margin-bottom: 5em;
    
        iframe {
            border: 5px white solid;
            width: 550px;
            max-width: 550px;
        }
    }

    div#container-texto-motion {
        margin-left: 0;
        padding-left: 0;
    }

}
