/**
** Estilos de portfolio aqui
**
*/

#secao-portfolio {
  color: white; // removendo background pois vao mudar
  //background-image: url(/formas_fundo_portfolio.png);
  background-repeat: repeat-y;
  background-size: 105% 30%;
  background-position-y: 40%;
  background-color: black;
  min-height: 950px;
  padding-bottom: 21vw;
}

#filtro-tags {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
  a {
    color: white;
    font-size: 2rem;
    font-weight: 600;
    &.active {
        text-decoration: underline;
    }
  }
}

a.voltar {
  text-transform: uppercase;
  color: white;
}

.voltar-cc {
  text-align: center;
  @media screen and (max-width: 990px) {
    text-align: right;
  }
}

.container-btn-voltar {
  width: 600px;
  @media screen and (max-width: 990px) {
    width: 10em;
  }
  display: inline-block;
  text-align: right;
  padding-bottom: 2rem;
}

div.descricao-container {
  background-color: #424242;
  min-height: 500px;
  @media screen and (max-width: 990px) {
    background-color:rgba(0, 0, 0, 0);
    min-height: 200px;
  }
  h1 {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
  }
}

div.behances-container {
  text-align: center;
  img+div.caption,
  img+div.main-text {
    padding-top: 2rem;
  }
  img {
    max-width: 100%;
  }
  div.caption,
  div.main-text {
    padding-bottom: 2rem;
  }
  .caption,
  .main-text {
    padding-right: 2rem;
    padding-left: 2rem;
    display: inline-block;
    max-width: 600px;
    text-align: left;
    background-color: #424242;
    span[style] {
      color: white !important;
    }
  }
}

div.container-portfolio {
  margin-top: 12em;
}

div.container-portfolio .container-texto h3 {
  width: 160px;
  margin: auto;
  font-size: 3em;
  font-weight: 800;
}

.container-portfolio ul a {
  text-decoration: none;
  border: 4px solid white;
}

.img-portfolio {
  background-position: 50% 50%;
  background-size: 100%;
  height: 26vh;
  overflow: hidden;
  position: relative;
  transition: background-size ease-in-out 0.7s;
}

.img-portfolio:hover {
  background-size: 120%;
}

.img-portfolio .titulo {
  background-color: rgba(0, 0, 0, 0);
  transition: all 1s;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-portfolio:hover .titulo {
  background-color: rgba(0, 0, 0, 0.8);
}

.img-portfolio h4 {
  text-align: center;
  color: white;
  opacity: 0;
  font-size: 1.5em;
  padding: 0 15px;
  transition-property: opacity;
  transition-duration: 0.5s;
  text-decoration: none;
  text-shadow: #000 0px 0 5px;
}

.img-portfolio:hover h4 {
  opacity: 1;
}

.grid {
  list-style: none;
  margin: 30px auto;
  padding: 0;
  li {
    display: block;
    float: left;
    padding: 7px;
    width: 33%;
    opacity: 0;
    @media screen and (max-width: 360px) {
      width: 50%;
      .img-portfolio {
        height: 18vh;
        h4 {
          font-size: 1.1em;
        }
      }
    }
    @media screen and (min-width: 361px) and (max-width: 640px) {
      width: 50%;
      .img-portfolio {
        height: 20vh;
        min-height: 200px;
        h4 {
          font-size: 1.1em;
        }
      }
    }
    @media screen and (min-width:641px) and (max-width: 960px) {
      width: 50%;
      .img-portfolio {
        height: 25vh;
      }
    }
    @media screen and (min-width:1025px) and (max-width: 1440px) {
      .img-portfolio {
        height: 40vh;
      }
    }
  }
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
  opacity: 1;
}

.grid li a,
.grid li img {
  outline: none;
  display: block;
  max-width: 100%;
}

.grid.effect-3 li.animate {
  transform: scale(0.6);
  animation: scaleUp 0.65s ease-in-out forwards;
}

@-webkit-keyframes scaleUp {
  0% {}
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scaleUp {
  0% {}
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
