/*********
 * Arquivo para centralizar as media queries e facilitar a vida, (talvez)
 * @author zord / stackoverflow
*/

/* Até antes de tablet */ 
@media only screen and (max-width: 767px) {

    nav#menu-principal {

        /** Escondendo a animacao do menu no mobile **/
        div.esconde-borda, img.borda-menu-principal { 
            display:none;
        }

        /** Escondendo a margem dos itens do menu no mobile **/
        li~li {
            margin-left: 0rem;
        }

        li.wrapper-social-media-menu {
            display: flex;
            margin: 0;
        }
    }

    #secao-trabalhos-recentes {
        padding: 0em 0em 6em 0em;

        .texto-vertical {
            transform: none;
            height: 60px;
            line-height:25px;
            width: 290px;
            font-size: 2.5em;
            float: none;
            margin: 1em auto 0 auto;
        }

        #tesseract-carousel {
            max-width: 290px;
            width: 290px;
            margin: auto;

            //Escondendo imagem das bordas do caroulsel
            &::before {
                content: '';
            }

            // as bolinhas indicando qual slide ativo
            ol.carousel-indicators {
                left: 10%;
            }

            //Os slides em sí
            div.item  {
                border: 4px solid white;

                > img {
                    width:100%;
                    max-width: 300px;
                    height:auto;
                }
            }

        /** Tentativa de por a borda nº 1
            div.borda-caroulsel {
                background-image: url('/teste-container-caroulsel.png');
                width: 950px;
                height: 535px;
                position: absolute;
                top: 20px;
            } **/

            .carousel-caption {
                color: black;
                text-align: left;
                position: absolute;
                bottom: -78px;
                left: 25px;
                text-shadow: none;
                font-weight: 300;
            }

        }
    }


    #secao-motion {
        background-position: 35%;

        > h3 {
            text-align: left;
            margin: 15px;
            font-size: 2.5em;
        }

        div.borda-top {
            height: 100px;
            margin-top: -20px;
        }

        div#container-youtube-motion {
            margin-bottom:1em;
            iframe {
                width: 290px;
                max-width: 290px;
            }
        }

        div#container-texto-motion {
            margin-left: 0;
            padding-left: 15px;
        }



    }


    #secao-editorial {
        background: #BBCBD3;
        background: linear-gradient(to right, #BBCBD3 , white 30%, #BACAD2);
        color: #179A62;
        background-image: url('/bg_secao_editorial.png');
        background-repeat: no-repeat;
        background-size:contain;
        background-position:70%;

        div.borda-top {
            height: 65px;
        }

        div.container-editorial {
            margin-top: 2em;

            .container-texto {
                h3 {
                    margin: 0 0 15px;
                    font-size: 2.5em;
                }
            }

            div.container-item-editorial {
                img {
                    width: 100%;
                }
            }

            div.bottom-editorial {
                background-image: url('/rodape_fotos_editorial.png');
                background-repeat: no-repeat;
                background-size: cover;
                width:100%;
            }

        }

    }


}

/* Tablets e alguns Celulares */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    
    nav#menu-principal {
        /** Escondendo a animacao do menu no mobile **/
        div.esconde-borda {
            display:block;
            margin-top: 0px;
        }

        img.borda-menu-principal { 
            display:block;
            margin-top: 9px;
        }

        li~li {
            margin-left: 1.5rem;
        }
    }

    #secao-trabalhos-recentes {
        #tesseract-carousel {
            max-width: 630px;
            width: 630px;

            /** Escondendo Imagem contendo a borda do slider **/
            &::before {
                content: '';
            }

            // as bolinhas indicando qual slide ativo
            ol.carousel-indicators {
                left: 5%;
            }
            
        }
    }
}

/* Desktop ad infinitum */
@media only screen and (min-width: 1201px) {

    nav#menu-principal {

        li~li {
            margin-left: 3rem;
        }

        li.wrapper-social-media-menu {
            display: flex;
            margin-left: 5rem;
        }
    }

    #tesseract-carousel {
        max-width: 630px;
        width: 630px;

        /** Imagem contendo a borda do slider **/
        &::before {
            content: url('/teste-container-caroulsel-md.png');
            position: absolute;
            bottom: -68px;
        }

    }
    
}
