/*********
 * Arquivo para centralizar as media queries e facilitar a vida, (talvez)
 * @author zord / stackoverflow
*/

/* Custom, iPhone Retina */ 
@media only screen and (max-width: 767px) {
    video {
      width: 100%;
      height: auto;
    }

    nav#menu-principal {

        /** Escondendo a animacao do menu no mobile **/
        div.esconde-borda, img.borda-menu-principal { 
            display:none;
        }

        /** Escondendo a margem dos itens do menu no mobile **/
        li~li {
            margin-left: 0rem;
        }

        li.wrapper-social-media-menu {
            display: flex;
            margin: 0;
        }
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    
    nav#menu-principal {
        /** Escondendo a animacao do menu no mobile **/
        div.esconde-borda {
            display:block;
            margin-top: 0px;
        }
        img.borda-menu-principal { 
            display:block;
            margin-top: 9px;
        }

        li~li {
            margin-left: 1.5rem;
        }
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1201px) {

    nav#menu-principal {

        li~li {
            margin-left: 3rem;
        }

        li.wrapper-social-media-menu {
            display: flex;
            margin-left: 5rem;
        }
    }
}
