/*********
 * Aqui ficam os estilos e gambiarras de responsividade
 * Media queries divididas em:
 * menor que 767px
 * entre 768px e 1200px
 * maior que 1201px
 */

/* Até antes de tablet */ 
@media only screen and (max-width: 767px) {

    
    footer {
        background-position: 80% bottom;
        min-height: 240px;

        #infos-rodape {
            font-size:1.25em;
            position:absolute;
            a {
                i.fa {
                    font-size: 1.2em;
                }
            }
        }
        
        div.wrapper-social-links {
            text-align: center;
            margin-top: 10px;
        }

    }

    nav#menu-principal {

        /** Escondendo a animacao do menu no mobile **/
        div.esconde-borda, img.borda-menu-principal { 
            display:none;
        }

        /** Escondendo a margem dos itens do menu no mobile **/
        li~li {
            margin-left: 0rem;
        }

        li.wrapper-social-media-menu {
            display: flex;
            margin: 0;
        }
    }

    #secao-trabalhos-recentes {
        padding: 0em 0em 6em 0em;

        .texto-vertical {
            transform: none;
            height: 60px;
            line-height:25px;
            width: 290px;
            font-size: 2.5em;
            float: none;
            margin: 1em auto 0 auto;
        }

        #tesseract-carousel {
            max-width: 290px;
            width: 290px;
            margin: auto;

            ol.carousel-indicators {
                bottom:10px;
                max-width:90px;
            }

            div.item  {
                > img {
                    width:100%;
                    max-width: 300px;
                    height:auto;
                }

                h3 {
                    color: white;
                    max-width: 70%;
                    font-size: 14px;
                }
            }
        }
    }


    #secao-motion {
        background-position: 35%;

        > h3 {
            text-align: left;
            margin: 15px;
            font-size: 2.5em;
        }

        div.borda-top {
            height: 100px;
            margin-top: -20px;
        }

        div#container-youtube-motion {
            margin-bottom:1em;
            iframe {
                width: 290px;
                max-width: 290px;
            }
        }

        div#container-texto-motion {
            margin-left: 0;
            padding-left: 15px;
        }

    }


    #secao-editorial {

        div.borda-top {
            height: 65px;
        }

        div.container-editorial {
            margin-top: 2em;

            .container-texto {
                h3 {
                    margin: 0 0 15px;
                    font-size: 2.5em;
                }
            }

            div.container-item-editorial {
                img {
                    width: 100%;
                }
            }

            div#fix-altura-mobile {
                min-height:200px;
            }
        }
    }
}

/* Tablets e alguns Celulares */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    
    nav#menu-principal {
        /** Escondendo a animacao do menu no mobile **/
        div.esconde-borda {
            display:block;
            margin-top: 0px;
        }

        img.borda-menu-principal { 
            display:block;
            margin-top: 9px;
        }

        li~li {
            margin-left: 1.5rem;
        }
    }

    #secao-trabalhos-recentes {

        .texto-vertical {
            margin-top: 4.5em;
            font-size: 2.4em;
            height: 20px;
            width: 90px;
            line-height: 25px;
        }


        #tesseract-carousel {
            max-width: 630px;
            width: 630px;

            ol.carousel-indicators {
                bottom:10px;
                max-width:90px;
                left: 115%;
            }

            div.item  {
                > img {
                    width:100%;
                    height:auto;
                }

                h3 {
                    color: white;
                    max-width: 80%;
                    font-size: 24px;
                }
            }
        }
    }

    #secao-editorial {
        min-height: 780px;

        div.container-editorial {
            div.container-item-editorial {
                h4 {
                    margin-top: -30px;
                    margin-left: 10px;
                    text-align: center;
                }
            }
        }

        div#fix-altura-mobile {
            min-height:200px;
        }
        
    }

}

/* Desktop */
@media only screen and (min-width: 1201px) {

    nav#menu-principal {

        li~li {
            margin-left: 3rem;
        }

        li.wrapper-social-media-menu {
            display: flex;
            margin-left: 5rem;
        }
    }

    #tesseract-carousel {
        max-width: 950px;
        width: 950px;
        height: 530px;
        padding-right: 150px;
        padding-bottom: 30px;
        background: url('/teste-container-caroulsel.png');

        a.right.carousel-control {
            right: 150px;
        }
        
    }

    #secao-editorial {
        min-height: 700px;
    }
    
    
    footer {
        min-height: 320px;
        background-position: 100% bottom;
    }
}


@media only screen and (min-width: 1440px) {
    .col-xlg-3 { width: 25%; }
    .col-xlg-9 { width: 75%; }
}

