
body {
    background: #cdcdcd;
}

video {
  width: 100%;
  height: auto;
}

nav#menu-principal {

    li~li {
        margin-left: 3rem;
    }

    li.wrapper-social-media-menu {
        display: flex;
        margin-left: 5rem;
    }
}




