/*********
 * Aqui ficam os estilos gerais
 */

body {
    font-family: 'Nunito', sans-serif;
    background: #cdcdcd;
}

video {
  margin-top: 51px;
  width: 100%;
  height: auto;
  float:left;
}

body > section {
    width: 100%;
    min-height:20vh;
    float:left;
}

footer {
 //   background: url(http://res.cloudinary.com/tesseract/image/upload/c_scale,w_1920/v1507773243/Rodap%C3%A9_do_site_rs23n7.png);

    height: 80px;
    width: 100%;
}



